<div id="genre-page">
    <button onclick="topFunction()" id="myBtn"><i class="fa fa-caret-square-o-up" aria-hidden="true"></i></button>

    <h1 id="genre-name"> {{genreTitle}} </h1>
    <div id="buttonHolder">
        <input id="myInput" type="text" onkeyup="myFunction()" placeholder="Search for albums..">
    </div>

    <ul id="myUL">
        {{#each data}}
        <li>
            <a href="/album?album={{id}}">
                <img src="{{coverArt}}"/>
                <div class="name bold">{{title}}</div>
                <div class="name">by {{artist}}</div>
                <div class="name price"> Price Range $2.00-$9.99 </div>
            </a>
        </li>
        {{/each}}
    </ul>
</div>