<!DOCTYPE html>
<html lang="en">

<main id="genre-page">
    <h1 id="genre-name"> {{genreTitle}} </h1>
    <input id="myInput" type="text" onkeyup="myFunction()" placeholder="Search for albums..">

    <ul id="myUL">
    {{#each data}}
    <li>
        <a href="/album?album={{id}}">
            <img src="{{coverArt}}"/>
            <div class="name bold">{{title}}</div>
            <div class="name">by {{artist}}</div>
            <div class="name price"> Price Range $2.00-$9.99 </div>
        </a>
    </li>
    {{/each}}
    </ul>
</main>

</html>
