<!DOCTYPE html>
<html lang="en">
{{!-- <a href="javascript:" id="return-to-top"><i class="fa fa-caret-square-o-up" aria-hidden="true"></i></a> --}}

<main id="genre-page">
    <h1 id="genre-name"> {{genreTitle}} </h1>
    <input id="myInput" type="text" onkeyup="myFunction()" placeholder="Search for albums..">

    <ul id="myUL">
    {{#each data}}
    <li>
        <a href="/album?album={{id}}">
            <img src="{{coverArt}}"/>
            <div class="name">{{title}} by {{artist}}</div>
        </a>
    </li>
    {{/each}}
    </ul>
</main>

</html>
