<div class="homePage">

    <div class="banner">
        <h4>sale!!!</h4>
        <h4>70% off all vinyls this week only</h4>
    </div>

    <h2> NEW RELEASES </h2>
    <div class="explore">
        {{#each releases}}
        <div class="container">
            <a href="/album?album={{id}}">
                <img src="{{coverArt}}" class="image">
                <div class="middle">
                    <div class="text">
                        <p id = "title">{{title}}</p>
                        <p id = "artist">by {{artist}}</p>
                        <p id= "price-range">Price Range $2.00-$9.99</p>
                    </div>
                </div>
            </a>
        </div>
      {{/each}}
    </div>

    <h2> MOST POPULAR </h2>
    <div class="explore">
        {{#each popular}}
        <div class="container">
            <a href="/album?album={{id}}">
                <img src="{{coverArt}}" class="image">
                <div class="middle">
                    <div class="text">
                        <p id = "title">{{title}}</p>
                        <p id = "artist">by {{artist}}</p>
                        <p id = "price-range">Price Range $2.00-$9.99</p>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>

    <h2> $T@FF P!CKZ </h2>
    <div class="explore">
      {{#each staff}}
        <div class="container">
            <a href="/album?album={{id}}">
                <img src="{{coverArt}}" class="image">
                <div class="middle">
                    <div class="text">
                        <p id = "title">{{title}}</p>
                        <p id = "artist">by {{artist}}</p>
                        <p id = "price-range">Price Range $2.00-$9.99</p>
                    </div>
                </div>
            </a>
        </div>
      {{/each}}
    </div>
</div>
