<html lang="en">
<main class="homePage">
    <h2> NEW RELEASES </h2>
    <div class="explore">
        {{#each releases}}
        <div class="container">
            <a href="/album?album={{id}}">
                <img src="{{coverArt}}" class="image">
                <div class="middle">
                    <div class="text">
                        {{title}} by {{artist}}
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>

    <h2> MOST POPULAR </h2>
    <div class="explore">
        {{#each popular}}
        <div class="container">
            <a href="/album?album={{id}}">
                <img src="{{coverArt}}" class="image">
                <div class="middle">
                    <div class="text">
                        {{title}} by {{artist}}
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>

    <h2> $T@FF P!CKZ </h2>
    <div class="explore">
        {{#each staff}}
        <div class="container">
            <a href="/album?album={{id}}">
                <img src="{{coverArt}}" class="image">
                <div class="middle">
                    <div class="text">
                        {{title}} by {{artist}}
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</main>

</html>