<html lang="en">
    <main class = "homePage">
        <h2> NEW RELEASES </h2>
        <div class="explore">
            <div class="albums">
              {{#each releases}}
                <div class="container">
                    <a href="/album?album={{id}}">
                        <img src="{{coverArt}}" class="image" style="width:100%">
                        <div class="middle">
                            <div class="text">{{title}} by {{artist}}</div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>

        <h2> MOST POPULAR </h2>
        <div class="explore">
            <div class="albums">
                {{#each popular}}
                    <div class="container">
                        <a href="/album?album={{id}}">
                            <img src="{{coverArt}}" class="image" style="width:100%">
                            <div class="middle">
                                <div class="text">{{title}} by {{artist}}</div>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>

        <h2> $T@FF P!CKZ </h2>
        <div class="explore">
            <div class="albums">
                {{#each staff}}
                <div class="container">
                    <a href="/album?album={{id}}">
                        <img src="{{coverArt}}" class="image" style="width:100%">
                        <div class="middle">
                            <div class="text">{{title}} by {{artist}}</div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </main>
</html>
